@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .font-800 {
    font-weight: 800;
  }
}